<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Conexao" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Michael\Projetos\C#\CoreGitHub\Core\UTestProject\Banco\BaseTeste.mdf;Integrated Security=True;Connect Timeout=30" />-->
    <add name="Conexao" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Fontes\GitHub\Core\Core\UTestProject\Banco\BaseTeste.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>